<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Page</title>
  <script src="/tailwind.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Navbar -->
  <div class="navbar bg-base-300">
    <div class="flex-1">
      <a href="/admin" class="btn btn-ghost text-xl">Admin UI</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <!-- <li><a href="/admin/product">Products</a></li> -->
      </ul>
    </div>
  </div>
  <!-- end Navbar -->
  <div class="relative w-full flex justify-center">
    <div class="max-w-7xl w-full px-4 sm:mb-4">